<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!-- HandCoded Toolkit Defaults -->
		<add key="HandCoded.FpML Toolkit.SchemasDirectory" value="files\schemas\"/>
		
		<add key="HandCoded.FpML Toolkit.Schemes1-0" value="files\data\schemes1-0.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes2-0" value="files\data\schemes2-0.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes3-0" value="files\data\schemes3-0.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes4-0" value="files\data\schemes4-0.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes4-1" value="files\data\schemes4-1.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes4-2" value="files\data\schemes4-2.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes4-3" value="files\data\schemes4-3.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes4-4" value="files\data\schemes4-4.xml"/>
		<add key="HandCoded.FpML Toolkit.Schemes5-0" value="files\data\schemes5-0.xml"/>


		<add key="HandCoded.FpML Toolkit.AdditionalSchemes" value="files\data\additionalDefinitions.xml"/>
		<add key="HandCoded.FpML Toolkit.StandardCalendars" value="files\data\calendarDefinitions.xml"/>
	</appSettings>
	
	<log4net threshold="INFO">
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
</configuration>