<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!-- HandCoded Toolkit Defaults -->
		<add key="HandCoded.FpML Toolkit.BaseDirectory" value="."/>
		<add key="HandCoded.FpML Toolkit.Releases" value="files\releases.xml"/>
		<add key="HandCoded.FpML Toolkit.XmlCatalog" value="files\catalog-fpml-5-1.xml"/>
		<add key="HandCoded.FpML Toolkit.StandardCalendars" value="files\data\calendarDefinitions.xml"/>
		<add key="HandCoded.FpML Toolkit.BusinessRules" value="files\business-rules.xml"/>
		<add key="HandCoded.FpML Toolkit.FpMLTaxonomy" value="files\fpml-classification.xml"/>
		<add key="HandCoded.FpML Toolkit.ISDATaxonomy" value="files\isda-classification.xml"/>
	</appSettings>
	<log4net threshold="INFO">
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="ConsoleAppender"/>
			<!--			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO"/>
				<param name="LevelMax" value="FATAL"/>
			</filter> -->
		</root>
	</log4net>
</configuration>
